extends layout

block content
    h1.title= title
    div.cardsGalerie
        div.cardGal
          img(src="/images/galerie/autodilna-1.png", class="imgHomePage", alt="1. Projekt novostavby RD s provozovnou autodílny v Dolní Lomné")
          p 1. Projekt novostavby RD s provozovnou autodílny v Dolní Lomné
        
        div.cardGal
          img(src="/images/galerie/novostavba-lisky-1.png" class="imgHomePage" alt="2. Projekt novostavby RD Jablunkov Lísky")
          p 2. Projekt novostavby RD Jablunkov Lísky

        div.cardGal
          img(class="imgHomePage" alt="3. Dělení pozemku Lohenice" src="/images/galerie/lohenice_katastralni_vykres-1.png")
          p 3. Dělení pozemku Lohenice

        div.cardGal
          img(class="imgHomePage" alt="4. Rekonstrukce budovy č.p 1063" src="/images/galerie/rekonstrukce-1063-1.png")
          p 4. Rekonstrukce budovy č.p 1063
          
        div.cardGal
          img(class="imgHomePage" alt="5.	Vyřízení dotace modrá úsporám - 8 žádosti rok 2020" src="/images/galerie/destovka.png")
          p 5. Vyřízení dotace modrá úsporám - 8 žádosti rok 2020
        
        div.cardGal
          img(class="imgHomePage" alt="6.	Stavební dozor - panelový dům Třinec" src="/images/galerie/panelak.jpg")
          p 6. Stavební dozor - panelový dům Třinec
      
        div.cardGal
          img(class="imgHomePage" alt="7. Projekt novostavby RD, Petřvald u Karviné YTONG" src="/images/galerie/petrvald-u-karvine-1.png")
          p 7. Projekt novostavby RD, Petřvald u Karviné YTONG
        
        div.cardGal
          img(class="imgHomePage" alt="8. Stavební dozor - revitalizace střechy" src="/images/galerie/revitalizace-strechy-dozor.jpg")
          p 8. Stavební dozor - revitalizace střechy
        
        div.cardGal
          img(class="imgHomePage" alt="9.	Projekt dřevostavby, Milíkov" src="/images/galerie/drevostavby-pud-1.png")
          p 9. Projekt dřevostavby, Milíkov
        
        div.cardGal
          img(class="imgHomePage" alt="10. Projekt e4 dům Porotherm, Mistřovice Český Těšín" src="/images/galerie/e4-obrazek.jpg")
          p 10. Projekt e4 dům Porotherm, Mistřovice Český Těšín
        
        div.cardGal
          img(class="imgHomePage" alt="11. Bytový dům Jablunkov" src="/images/galerie/bytovka-jablunkov-1.png")
          p 11. Bytový dům Jablunkov