extends layout
block content
  h1.title= title
  div.cardsHome
    div.cardHome
      img(src="/images/projekt1.png", class="imgHomePage")
      div.textContent
        h2 Předprojektová příprava
        p U každého projektu je velmi důležitá kvalitní předprojektová příprava. Jaké jsou základní předpoklady pro to, aby žádné změny v projektu nenastaly?
        a.mail(href="sluzby#01predprojektovapriprava") Dozvědět se více

    div.cardHome
      img(src="/images/projekt1-1.png", class="imgHomePage")
      div.textContent
        h2 Projektování
        p Chcete se dozvědět, jaké jsou typy projektů? Jaká je cena vyřízení ohlášení stavby nebo stavebního povolení a co obsahuje?
        a.mail(href="sluzby#02projektovani") Dozvědět se více

    div.cardHome
      img(src="/images/projekt1-2.png", class="imgHomePage")
      div.textContent
        h2 Realizace staveb
        p Pro své zákazníky z oblasti soukromého, ale i veřejného sektoru a podnikatelské sféry jsme díky profesnímu, strojnímu i materiálovému vybavení připravení realizovat kompletní stavby v postavení generálního dodavatele.
        a.mail(href="sluzby#03realizacestaveb") Dozvědět se více

    div.cardHome
      img(src="/images/projekt1-3.png", class="imgHomePage")
      div.textContent
        h2 Stavební dozory
        p Cílem každého stavebníka je zrealizovat stavební dílo v co nejvyšší kvalitě, za co nejpříznivější náklady a v co největší užitné hodnotě. Jak toho dosáhnout?
        a.mail(href="sluzby#04stavebnidozory") Dozvědět se více