extends layout

block content
  h1.title= title
  div.cardsContacts
    div.cardperson
      img(src="/images/kontakty/Petr.png", class="imgHomePage", alt="Ing. Petr Černý")
      p
        h3 Ing. Petr Černý
        strong Autorizovaný inženýr pro pozemní stavby
        a.mail(href="tel.:+420-777-313-036") 777 313 036
        a.mail(href="mailto:petr.cerny@dobema.cz") petr.cerny@dobema.cz

    div.cardperson
      img(src="/images/kontakty/Luky.png", class="imgHomePage", alt="Ing. Lukáš Černý")
      p
        h3 Ing. Lukáš Černý
        strong Projektant
        a.mail(href="tel.:+420-777-313-056") 777 313 056
        a.mail(href="mailto:lukas.cerny@dobema.cz") lukas.cerny@dobema.cz

    div.cardperson
      img(src="/images/kontakty/Tom.png", class="imgHomePage", alt="Tomáš Černý")
      p  
        h3 Tomáš Černý
        strong Stavbyvedoucí
        a.mail(href="tel.:+420-734-570-771") 734 570 771
        a.mail(href="mailto:tomas.cerny@dobema.cz") tomas.cerny@dobema.cz

    div.cardperson
      p
        h3 Renata Gavendová
        strong Účetní
        a.mail(href="tel.:+420-734-313-158") 734 313 158
        a.mail(href="mailto:info@dobema.cz") info@dobema.cz