extends layout

block content
  h1.title= title
  menu.internalAnchors
    ul
      h2 Cihly Porotherm
      li
        a.link(href="#44profidryfix") Porotherm 44 Profi Dryfix
      li
        a.link(href="#30profidryfix") Porotherm 30 Profi Dryfix
      li
        a.link(href="#115profidryfix") Porotherm 11,5 Profi Dryfix
      li
        a.link(href="#40bed") Ztracené bednění ZB 40
        
      h2 Beton
      li
        a.link(href="#kbet") Konstrukční beton
      li
        a.link(href="#litepodlahy") Lité podlahy

  div.cardsProdukty
    div#44profidryfix.card
      img(class="prodimg" src='images/produkty/porotherm/44 profi dryfix.jpg' alt='Porotherm 44 Profi Dryfix')
      div.desc
        h2 Porotherm 44 Profi Dryfix
        strong Cihly pro vnější stěny
        p Cihly broušené Porotherm 44 Profi Dryfix jsou určené pro omítané jednovrstvé obvodové nosné i nenosné zdivo tloušťky 440 mm s velmi vysokými nároky na tepelný odpor a tepelnou akumulaci stěny. Ke zdění těchto cihel se používá speciální pěna pro zdění, která se nanáší ve dvou pruzích při vnějších okrajích cihel. Součástí dodávky je odpovídající množství zdicí pěny Porotherm Dryfix. Pro založení stěn se dodává požadované množství zakládací malty Porotherm Profi AM (Anlegemörtel).
        ul
          li Délka 248 mm
          li Výška 249 mm
          li Šířka 440 mm
          li Hmotnost 20,4 kg
          li Počet kusů na m² 16 ks
          li Počet kusů na paletě 60 ks
          li Hmotnost palety 1255 kg
          li Součinitel tepelné vodivosti bez omítek (λ) 0,115 W/mK
          li Součinitel prostupu tepla s omítkami (U) 0,220 W/m²K
          li Vyráběno v pevnosti P8,P10,P15

    div#30profidryfix.card
      img(class="prodimg" src='images/produkty/porotherm/30 Profi dryfix.jpg' alt='Porotherm 30 Profi Dryfix')
      div.desc
        h2 Porotherm 30 Profi Dryfix
        strong Cihly pro nosné zdivo
        p Cihly broušené Porotherm 30 Profi Dryfix jsou určené pro omítané jednovrstvé vnitřní i vnější nosné zdivo tloušťky 300 mm. Lze je též použít pro vnitřní nosnou část vrstveného zdiva v kombinaci s tepelným izolantem a případně s dalšími cihelnými materiály tvořícími vnější ochrannou část vrstveného zdiva. Ke zdění těchto cihel se používá speciální pěna pro zdění, která se nanáší ve dvou pruzích při vnějších okrajích cihel. Součástí dodávky je odpovídající množství zdicí pěny Porotherm Dryfix. Pro založení stěn se dodává požadované množství zakládací malty Porotherm Profi AM (Anlegemörtel).
        ul
          li Délka 247 mm
          li Výška 249 mm
          li Šířka 300 mm
          li Hmotnost 15,7 kg
          li Počet kusů na m² 16 ks
          li Počet kusů na paletě 80 ks
          li Hmotnost palety 1290 kg
          li Součinitel tepelné vodivosti bez omítek (λ) 0,115 W/mK
          li Součinitel prostupu tepla s omítkami (U) 0,500 W/m²K
          li Vyráběno v pevnosti P8,P10,P15
          
    div#115profidryfix.card
      img(class="prodimg" src='images/produkty/porotherm/11,5.jpg' alt='Porotherm 11,5 Profi Dryfix')
      div.desc
        h2 Porotherm 11,5 Profi Dryfix
        strong Cihly pro nenosné příčky
        p Cihly broušené Porotherm 11,5 Profi Dryfix jsou určené pro omítané nenosné zdivo vnitřních příček tloušťky 115 mm. Lze je též použít jako přizdívku tepelné izolace v místě železobetonových ztužujících věnců nebo pro vnější ochrannou část vrstveného zdiva. Ke zdění těchto cihel se používá speciální pěna pro zdění, která se nanáší v jednom pruhu na střed ložné plochy cihly.Cihly Porotherm 11,5 Profi Dryfix jsou dodávány zafóliované na vratných paletách rozměrů 1180 x 1000 mm.
        ul
          li Délka 497 mm
          li Výška 249 mm
          li Šířka 115 mm
          li Hmotnost 12,1 kg
          li Počet kusů na m² 8 ks
          li Počet kusů na paletě 100 ks
          li Hmotnost palety 1240 kg
          li Součinitel tepelné vodivosti bez omítek (λ) 0,260 W/mK
          li Součinitel prostupu tepla s omítkami (U) 1,300 W/m²K
          li Vyráběno v pevnosti P8,P10
    div#40bed.card
      img(class="prodimg" src='images/produkty/porotherm/ZB 40.jpg' alt='Ztracené bednění ZB 40')
      div.desc
        h2 Ztracené bednění ZB 40
        p Ztracené bednění je určeno pro všechny výstavby základových pásů různých druhů staveb bez použití klasického bednění. Tento postup přináší nejen časovou a finanční úsporu, ale odpadá nutnost po betonáži základy pracně odbedňovat. Všechny typy bednění mají tzv. zámek, který usnadňuje výstavbu, protože tvarovky do sebe jednoduše vzájemně zapadají.
        ul
          li Rozměry: 500x400x250
          li Hmotnost: 37,83kg/ks
          li počet (ks/m2): 8,0ks

    div#kbet.card
      img(class="prodimg" src='images/produkty/konstrukcnibeton.jpg' alt='Konstrukcni beton')

      div.desc
        h2 Konstrukční beton
        strong Beton je deklarován dle betonářské normy EN 206-A1
        ul
          li Minimální zrnitost 8 mm pro konstrukční betony dle EN 206-A1.
          li Vysoká konstrukční pevnost – 20 MPa a 30 MPa.
          li Pevnostní třída C 16/20 a C 25/30 – na beton jsou předepsány dvě zkoušky na tlak, kde první číslo je válcová pevnost v tlaku a druhé číslo označuje krychelnou pevnost.
          li Určený pro vytváření nosných stavebních konstrukcí vč. konstrukcí vyžadujících armovací výztuže.
          li Možné použití i pro vytváření podlah s požadavky na vyšší či provozní zatížení povrchu – sklepy, garáže.
          
          p např. Cemix 350 Beton hrubý 20 MPa s označením
          strong C 16/20 – X0 (CZ,F1) – C1 0,20 – Dmax8
          ul
            li C – beton (concrete)
            li 16/ (první číslo) – válcová pevnost N/mm2
            li /20 (druhé číslo) – krychelná pevnost N/mm2
            li X0 (CZ,F1) – stupeň vlivu prostředí na beton
            li C1 0,20 – stupeň zhutnitelnosti betonu
            li Dmax 8 – zrnitost betonu
          
          p Dohled nad systémem výroby provádí pouze autorizovaná zkušebna.
          br
          p Zkoušky na konstrukční betony jsou rozsáhlejší a dražší.

    div#litepodlahy.card
      img(class="prodimg" src='images/produkty/litepodlahy.jpg' alt='Lité podlahy')
      div.desc
        h2 Lité podlahy
        strong Anhydritový litý potěr
        p - tekutá samonivelační směs na bázi síranu vápenatého se samonivelačním účinkem. Vhodný pro zalévání podlahového topení.
        strong Cementový litý potěr
        p - tekutá samonivelační směs na bázi cementu se samonivelačním účinkem.