extends layout

block content
  h1.title= title
  menu.internalAnchors
    ul
      h3 Služby
      li
        a.link(href="#01predprojektovapriprava") Předprojektová příprava
      li
        a.link(href="#02projektovani") Projektování
      li
        a.link(href="#03realizacestaveb") Realizace staveb
      li
        a.link(href="#04stavebnidozory") Stavební dozory

  div.twoColsContent
    div.cardsProdukty
      div#01predprojektovapriprava.card
        img(class="prodimg" alt="Předprojektová příprava" src="images/sluzby/predprojektova.jpg")      
        div.desc
          h2 Předprojektová příprava
          p U každého projektu je velmí důležitá kvalitní předprojektová příprava. Základní předpoklad pro to, aby žádné změny v projektu nenastaly:
            ol
              li
                strong Rešerše pozemku
              
              ul
                li Konfrontace s územním plánem a ochrannými pásmy
                li Orientační výškové a polohové zaměření pozemku a budoucí stavby
                li Vyhodnocení rizik pro stavbu a výši investice
              
              li
                strong Screening před stavebním řízením
              ul
                li Projednání záměru investora na přislušném stavebním a obecním úřadě
                li Stanovení obecného rozsahu potřebných povolení a způsob povolení
                li Stanovení termínu pro zpracování projektové dokumentace

      div#02projektovani.card
        img(class="prodimg" src="images/sluzby/razitko.jpg" alt="Razitko")
        div.desc
          h2 Projekty pozemních staveb a služby projektanta
          ul
            strong Typy projektů:
            li rodinné domy
            li administrativní a bytové domy
            li stavby občanské vybavenosti
            li nízkoenergetické a pasivní domy
            li dřevostavby
            li projekt e4 dům Wienerberger
            br
            strong Cena vyřízení ohlášení stavby nebo stavebního povolení obsahuje:
            li vyjádření správců sítí (plynu, vody, kanalizace)
            li vyjádření životního prostředí
            li vyjádření policie ČR
            li vyjádření lesů ČR
            li vyjádření povodí
            li koordinované stanovisko
            li plán kontrolních prohlídek
            li prohlášení stavbyvedoucího nebo stavební dozoru
            li povolení připojení nemovitosti k místní komunikaci
            li vynětí ze zemědělského půdního fondu
            li vyplnění a podání potřebných žádostí
            
      div#03realizacestaveb.card
        img(class="prodimg" src="images/sluzby/realizace1.jpg" alt="Realizace")
        div.desc
          h2 Realizace staveb
          p Pro své zákazníky z oblasti soukromého, ale i veřejného sektoru a podnikatelské sféry jsme díky profesnímu, strojnímu i materiálovému vybavení připraveni realizovat kompletní stavby v postavení generálního dodavatele. Vysoký standard prováděných prací, kvalita a zkušenosti naších zaměstnanců i našich dodavatelů nám umožňuje ucházet se i o velké či speciální zakázky investorů. Pro své zákazníky jsme připraveni nabídnout komplexní servis, počínaje zpracováním projektové dokumentace, vyřízením administrativních nezbytností přes výstavbu až po předání hotové stavby včetně jejího úklidu.
      
      div#04stavebnidozory.card
        img(class="prodimg" src="assets/img/sluzby/stavba.jpg" alt="Razitko")
        div.desc
          h2 Stavební dozory pozemních staveb
          h3 Poradenská a konzultační činnost
          p Cílem každého stavebníka je zrealizovat stavební dílo v co nejvyšší kvalitě, za co nejpříznivější náklady a v co největší užitné hodnotě. K splnění tohoto cíle je naprosto zásadní kvalitní příprava již od počátku stavby.
          
          strong Každý stavebník by si tak měl zodpovědět několik otázek:
          li Co od výsledku investičního záměru očekávám? (vzhled, dispoziční řešení, materiálové řešení ap.)
          li Kolik na to mám finanční prostředků?
          li Jakým způsobem jsem schopen se na vlastní realizaci osobně podílet? (stavba svépomocí, generální dodavatel, stavba za pomocí několika stavebních firem ap.)
          p Čím jasněji a přesněji si jako stavebník odpovědi specifikujete, tím jednodušší bude vlastní realizace stavebního díla a výsledek práce bude lépe odpovídá Vaším představám.
          
          ul
            strong Nabízená poradenská činnost tak může napomoci zejména v těch oblastech:
            li Posouzení Vašeho investičního záměru
            li Konzultace nad výběrem vhodných stavebních materiálů a technologií
            li Konzultace v průběhu projekčních prací
            li Optimalizace staveb a stanovení vhodné technologie pro opravu poruch stavby
            li Poradenská činnost při návrhu řešení konstrukčních detailů stavby

          p Cena za provádění poradenské a konzultační činnosti je odvislá času stráveného nad řešením požadovaného tématu, případně navýšená o náklady pro  dojezd na stavbu.

          h3 Stavební dozory
          ul
            strong Nabízené služby:
            li kontrola kvality prováděných prací
            li kontrola používaných materiálů a dodržování technologických postupů
            li převzetí zakrývaných konstrukcí
            li průběžná fotodokumentace stavby
            li přejímka předepsaných zkoušek a atestů
            li kontrola čerpání rozpočtu stavby
            li kontrola fakturace za provedené práce
            li příprava a vedení kontrolních dnů stavby 
            li příprava podkladů pro poptání firem na realizace stavebního díla
            li vyhodnocování nabídek na realizace stavebního díla
            li koordinace stavebních prací mezi jednotlivými subdodavateli
            li samozřejmostí je naprostá loajalita a nestrannost