extends layout

block content
  h1.title= title
  div.cardsAbout
    div.cardAbout
      p Firmy FP97 s.r.o. a DOBEMA s.r.o. můžete navštívit v Moravskoslezském kraji v malebném údolí města Jablunkov.
      p Firmy jsou na trhu od r. 1997. Na začátku své existence se zabývaly pouze realizací staveb, ale v průběhu let rozšiřovaly své dovednosti a pole působnosti.
      p Zakladatelem obou firem je Ing. Petr Černý, který doposud firmy řídí a dohlíží na jejich chod. Tyto firmy jsou rodinné firmy s individuálním přístupem k zákazníkům.
      p O projekční část, detaily a vyřízení stavebního povolení se stará Ing. Lukáš Černý.
      p Zákazníci si mohou navržený projekt prohlédnout v 3D animaci.
      p Dozory staveb zajišťuje Ing. Petr Černý.
      p Za část realizace staveb, která se týká nejen novostaveb, ale také rekonstrukcí, oplocení, sádrokartonů, obkladů, kamenných koberců aj. je odpovědnou osobou Tomáš Černý.
      p Obě firmy nabízejí služby vysoké kvality za dostupnou cenu pro každého zákazníka.

    div.cardcompanymapa
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2588.22292121991!2d18.73510011511669!3d49.55581685930094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471413f89d7d6e61%3A0xbb6d277a4329078a!2sJablunkov%201230%2C%20739%2091%20Jablunkov!5e0!3m2!1scs!2scz!4v1597270014360!5m2!1scs!2scz" width="auto" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")