html {
scroll-behavior: smooth;
scroll-padding: 100px 0 0 100px;
}

body {
margin: 0;
padding: 0;
background: $bglightgray;
}

* {
margin: 0;
padding: 0;
}

nav {
display: grid;
grid-auto-rows: auto;
}

.wrapper {
margin: auto;
max-width: 90vw;
}

#top-banner2 {
display: grid;
position: relative;
background-color: $white;
align-items: center;
margin-top: 0;
grid-template-areas: "kruzitko togglemenu";

@include respond-to(small) {
grid-template-areas: "kruzitko togglemenu";
}

@include respond-to(medium) {
grid-template-areas: "kruzitko text menu togglemenu";
}

@include respond-to(large) {
grid-template-areas: "kruzitko text menu togglemenu";
}
}

#kruzitko {
position: relative;
grid-area: kruzitko;
text-align: right;
padding: 16px;
display: none;
@include respond-to(small){
display: none;
}

@include respond-to(medium){
display: grid;
}

@include respond-to(large){
display: grid;
}
}

#logoSmall {
grid-area: kruzitko;
margin: auto;
align-content: end;
padding: 16px;
display: grid;
@include respond-to(medium){
display: none;
}
@include respond-to(large){
display: none;
}
}

#text {
grid-area: text;
padding: 16px;
display: none;
@include respond-to(medium){
display: grid;
}
}

#togglemenu {
grid-area: togglemenu;
margin-right: 16px;
text-align: right;
padding: 4px;

@include respond-to(medium) {
display: none;
}

@include respond-to(large) {
display: none;
}

}

#togglemenu:hover {
cursor: pointer;
} 

#mobilemenu {
display: none;
background: $white;
padding: 4px;

@include respond-to(small){
display: none;
}

@include respond-to(medium){
display: none;
}

@include respond-to(large){
display: none;
}

> ul li {
list-style: none;
}

}
#menu {
display: none;
padding: 4px;


@include respond-to(small){
display: none;
}

@include respond-to(medium){
display: block;
grid-template-areas:
"links0";
z-index: 11;
> a {color: $white;}
}

@include respond-to(large){
display: block;
grid-template-areas:
"links0";
z-index: 11;
> a {color: $white;}
}

> ul li {
list-style: none;
}

}
    
#col1 {
grid-area: links0;
}

.cardsHome {
display: grid;
grid-gap: 8px;
margin: auto;
margin-bottom: 24px;
margin-top: 24px;
max-width: 90vw;
grid-template-areas: "card";
@include respond-to(small){ 
grid-template-areas: "card";
}
@include respond-to(medium){
grid-template-areas: "card card";
}
@include respond-to(large){
grid-gap: 8px;
grid-template-areas: "card card" "card card";
max-width: 1228px;
}
}
.cardsProdukty {
display: grid;
grid-gap: 8px;
margin-bottom: 24px;
margin-top: 24px;
max-width: 90vw;
grid-template-areas: "card";
@include respond-to(small){ 
grid-template-areas: "card";
}
@include respond-to(medium){
grid-template-areas: "card";
}
@include respond-to(large){
grid-gap: 8px;
grid-template-areas: "card";
}
}
.cardsGalerie {
display: grid;
grid-gap: 8px;
margin-bottom: 24px;
margin-top: 24px;
max-width: 90vw;
grid-template-areas: "card";
@include respond-to(small){
grid-template-areas: "card";
}
@include respond-to(medium){
grid-template-areas: "card card";
}
@include respond-to(large){
grid-gap: 8px;
grid-template-areas: "card card" "card card";
}
}


#col1 {
margin: auto;
> .link {
padding: 8px 36px;
display: inline-flex;
@include respond-to(small) {
padding: 8px 32px;
font-size: 1.0rem;
display: inline-flex;
}
@include respond-to(medium) {
padding: 8px 32px;
font-size: 1.1rem;
display: inline-flex;
}
@include respond-to(large) {
padding: 16px 24px;
font-size: 1.1rem;
display: inline-flex;
}
}
}

.desc {padding: 32px}

.twoColsContent {
    display: block;
    position: relative;
    max-width: 100%;
}

.internalAnchors {
    display: none;
    position: fixed;
    max-width: 28%;
    right: 0;
    list-style: none;
    @include respond-to(medium) {
    display: block;
    }
    
    @include respond-to(large) {
    display: block;
    }
}

.cardsProdukty {
    position: absolute;
    max-width: 95%;
    @include respond-to(medium) {
    max-width: 68%;
    margin: auto;
    }
    @include respond-to(large) {
    max-width: 68%;
    margin: auto;
    }
}

footer {
    display: block;
    bottom: 0;
    padding: 24px;
}